body {
	background-image: url("bg.png");
	margin-top: 1.0em;
    font-family: "Helvetica,FreeSans", Helvetica;
    color: #ffffff;
}

.navbar {
    display: block;
    float: right;
    margin-right: 32px;
}

.nav {
    list-style: none;
    float: left;
}

.navbar .nav > li {
    float: left;
    font-size: 16px;
}

.navbar .nav a {
    color: #fff;
    text-decoration: underline;
}

.navbar .nav li:not(:first-child) {
    margin-left: 25px;
}

.content {
    width: 90%;
    margin: auto;
}

.description {
    height: 80px;
}

.publication {
}

.group {
    border-top: 1px solid rgba(200, 200, 200, 0.35);//#d2dde5;
    position: relative;
}

.group::before {
    display: block;
    content: attr(data-year);
    position: absolute;
    left: 97px;
    top: -14px;
    padding: 3px 15px;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-size: 18;
    background-image: url("bg.png");
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -500px;
    text-align: center;
    font-weight: 200;
}

h1 {
    color: #ffffff;
    font-weight: 300;
}

.clearer { clear: both; }

.description img {
    text-align: right;
}

a {
    text-decoration: none;
    color: #177A93;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #CCC;
}

.social > a > * {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#github {
    background-color: white;
}

#keybase {
    background-color: white;
}
