body {
	background-image: url("bg.png");
	margin-top: 1.0em;
    font-family: "Helvetica,FreeSans", Helvetica;
    color: #ffffff;
}

#container {
    margin: 0 auto;
    padding: 10px;
    
    position: absolute;
    left: 50%;
    top: 50%;

    margin: -100px 0 0 -500px;

    text-align: center;
    font-weight: 200;
}

h1 {
    color: #ffffff;
    font-weight: 300;
    margin: 0 20px 10px 0;
    padding: 0px 5px 5px 10px;
}


.description img {
    text-align: right;
}

a {
    text-decoration: none;
    color: #177A93;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #CCC;
}

.social > a > * {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#github {
    background-color: white;
}

#keybase {
    background-color: white;
}