body {
	background-image: url("bg.png");
	margin-top: 1.0em;
    font-family: "Helvetica,FreeSans", Helvetica;
    color: #ffffff;
}

.nav {
    list-style: none;
    float: right;
}

@media(min-width:48em){.spacer { height: 12%;}}
@media(min-width:62em){.spacer { height: 18%;}}
@media(min-width:75em){.spacer { height: 25%;}}

.nav > li {
    float: left;
    font-size: 16px;
	margin-right: 32px;
}

.nav a {
    color: #fff;
    text-decoration: underline;
}

.content {
    width: 90%;
    margin: auto;
}

.description {
    height: 80px;
}

.publication {
}

.group {
    border-top: 1px solid rgba(200, 200, 200, 0.35);//#d2dde5;
    position: relative;
}

.group::before {
    display: block;
    content: attr(data-year);
    position: absolute;
    left: 97px;
    top: -14px;
    padding: 3px 15px;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-size: 18;
    background-image: url("bg.png");
}

h1 {
    color: #ffffff;
    font-weight: 300;
}

.clearer { clear: both; }


a {
    text-decoration: none;
    color: #96C0CF;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #CCC;
}

.social-icons {
    font-size: 24pt;
    margin-top: 16px;
}

.social-icons a {
    color: #fff;
    padding-right: 14px;
}

.box div {
    line-height: 2em;
}